/* Add a black background color to the top navigation */
.topnav {
    background-color: #5833ff;
    overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 12px;
    font-family: 'Verdana', sans-serif;
}

/* Change the color of links on hover */
.topnav a:hover {
    background-color: #ddd;
    color: black;
}

/* Add a color to the active/current link */
.topnav a.active {
    background-color: #0c1c8b;
    color: white
}

.topnav-right{
    float: right;
}
.overlay-image{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 10;
}
.overlay-image{
    float: left;
    position: absolute;
    left: 100px;
    top: 15px;
    width: 100%;
    height: 100%;
    z-index: 10;
}

#user-name{
    position: absolute;
    left:150px;
    top: 10px;
    float: left;
    color: #f2f2f2;
    text-align: center;
    text-decoration: none;
    font-size: 12px;
    font-family: 'Verdana', sans-serif;
}